<!-- Header -->
<mat-toolbar color="primary" class="custom-header d-flex justify-content-between align-items-center mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <div class="header-logo-text">
    <img src="skandia-logo2.svg" alt="Skandia" class="logo-skandia" >
    <p class="plan-text">Plan Financiero Digital - FPX</p>
  </div>

  <div class="header-logo-text">
    <img src="Happy.png" alt="Happy" class="happy">
    <p><a href="#" class="hipertext">Tu Financial Planner</a></p>
  </div>
  <div class="header-logo-text">
    <img src="hand3.png" alt="hand3" class="hand3">
    <p><a href="#" class="aportes">Aportes</a></p>
  </div>
  <div class="faq-container">
    <img src="comp faq.png" alt="faq" class="faq"> 
    <span class="faq-text">Preguntas frecuentes</span>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [style.width]="sidenavWidth()"></mat-sidenav>
  <mat-sidenav-content class="content-sidenav" [style.margin-right]="sidenavWidth()">
    <mat-nav-list>
      <a mat-list-item href="#" class="escogido">
        <img src="home.png" alt="home" class="home">
        Inicio
      </a>
      <a mat-list-item href="#">
        <img src="hoja1.png" alt="hoja" class="hoja">
        Contratos
      </a>
      <a mat-list-item href="#">
        <img src="Tool.png" alt="tool" class="tool">
        Acciones
      </a>
      <a mat-list-item href="#">
        <img src="star.png" alt="star" class="star">
        Objetivos
      </a>
      <a mat-list-item href="#">
        <img src="money.png" alt="money" class="money">
        Herramientas
      </a>
      <a mat-list-item href="#">
        <img src="talk2.png" alt="talk" class="talk">
        Servicio al cliente
      </a>
    </mat-nav-list>

  </mat-sidenav-content>
</mat-sidenav-container>