

<div class="container align-content-center mt-4">
  <!-- Mensaje principal -->
  <div class="text-center">
    <h2>¡Tu objetivo ha sido agregado exitosamente!</h2>
    <p>Te hemos enviado un correo con la notificación.</p>
  </div>
  <div
    class="d-flex justify-content-center align-self-center"
    style="width: 100%"
  >
    <mat-card class="card-objective" appearance="outlined" style="width: 650px">
      <mat-card-header class="justify-content-between">
        <mat-card-title>Conocer mi sobrino</mat-card-title>
        <mat-card-subtitle>Categoría: Bienestar</mat-card-subtitle>
        <mat-card-actions
          ><button mat-button class="rev-obj">
            Revisar objetivo
          </button></mat-card-actions
        >
      </mat-card-header>
      <mat-card-content>
        <div class="containter text-center">
          <div class="row">
            <div class="col">
              <p>
                <strong>En esta fecha:</strong><br /><a
                  class="btn btn-primary w-75 text-wrap text-black"
                  disabled
                  >Diciembre/2022</a
                >
              </p>
            </div>
            <div class="col">
              <p>
                <strong>Lograrás</strong><br /><a
                  class="btn btn-warning w-75 text-wrap text-black"
                  disabled
                  >$6.000.000</a
                >
              </p>
            </div>
            <div class="col">
              <p>
                <img
                  src="Icon awesome-star.png"
                  alt="awesome-star"
                  class="awesome-star"
                /><strong>Ya cuentas con:</strong><br /><a
                  class="btn btn-info w-75 text-wrap text-black"
                  disabled
                  >$0</a
                >
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Subtítulo -->
  <div>
    <h3 class="text-center mt-4">
      ¡Vamos por esos <span class="highlight">$6.000.000</span> para
      <b><span class="highlight">Conocer mi sobrino!</span></b>
    </h3>
    <p class="text-center text-muted">
      ¡A través de tus productos y nuestros rendimientos podremos lograrlo!
    </p>
    <p class="text-center">
      <strong class="m-1">Asocia tus productos o adquiere uno nuevo.</strong>
      <img src="Group 12953.png" alt="awesome-star" class="awesome-star" />
    </p>
  </div>
  <app-carousel></app-carousel>
</div>
