<!-- Carrusel de cards -->
<div class="carousel-container">
  <button 
    class="carousel-btn left" 
    (click)="prevSlide()" 
    [disabled]="isFirstSlide">
    <img 
      [src]="isFirstSlide ? 'Group 9764.png' : 'Group 9764-1.png'" 
      alt="prev" 
      width="24" 
      height="24">
  </button>
  <!-- Carrusel -->
  <div class="carousel-track">
    <ng-container *ngFor="let card of cards">
      <mat-card class="carousel-card mat-elevation-z2">
        <div class="card-checkbox">
          <mat-checkbox></mat-checkbox>
        </div>
        <mat-card-header>
          <mat-card-title>{{ card.nameProduct }}</mat-card-title>
          <mat-card-subtitle>#{{ card.numberProduct }}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p><strong>Ya cuentas con:</strong></p>
          <p class="value" >${{ card.balanceProduct }}</p>
          <p class="small text-muted" >{{ card.detaildProduct }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <!-- Card final por defecto -->
    <mat-card class="carousel-card mat-elevation-z2 add-card" >
      <div class="card-checkbox">
        <mat-checkbox disabled></mat-checkbox>
      </div>
      <mat-card-header>
        <mat-card-title>Agregar producto</mat-card-title>
        <mat-card-subtitle>Personaliza tu producto</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="Group 12973.png" alt="plus" height="401px" class="card-image">
      <mat-card-content>
        <p>
          Haz clic aquí para agregar un nuevo producto o asociar uno existente.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <button 
    class="carousel-btn right" 
    (click)="nextSlide()" 
    [disabled]="isLastSlide">
    <img 
      [src]="isLastSlide ? 'Group 9764.png' : 'Group 9764-1.png'" 
      alt="next" 
      width="24" 
      height="24">
  </button>
</div>

